# TODO:
# ? rename this file to config.py
# ? change TELEGRAM_TOKEN and  ADMIN_CHAT_ID to valid data

# telegram api token (Get it from the telegram @botfather)
TELEGRAM_TOKEN = '6927787674:AAHq0_XLSEMeNfTcT4XhP314nZfifD0EnVo'

# telegram account number ID (Get it from @userinfobot)
ADMIN_CHAT_ID = '6550893007'
